.pagenav {
font-family: $roboto;
background-color: $light-gray;
}

.page-link {
    color: $eerie-black;
    &:hover {
        background-color: $nickel;
        border-color: $white;
        color: $white;
      }
}