/* Base Typography*/
 h2, h3, h4, h5, h6 {
    font-family: $roboto;
    font-weight: $regular;
    font-size: $medium;
    }

    h1 {
 font-family: $playfair;
    font-weight: $bold;
    font-size: $xx-large;
    color: $platinum;
    text-align: center;
    padding: 100px 100px;
    font-style: italic;
    align-items: center;
    }
    