.header {
    padding-top: 2rem;
    background-image: url("../images/post-image.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

   
}